/* General Page Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: whitesmoke;
  color: black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-btn {
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  background-color: #4ba9ff;
  color: white;
  border-radius: 10px;
  border: none;
  margin-bottom: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.sidebar-btn:hover {
  background-color: #1976d2;
}

.sidebar-btn:focus {
  outline: none;
}

/* Optional: Make the sidebar responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-btn {
    font-size: 14px;
  }
}
.logo {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
  margin-right: 15px;
}
.logo img {
  height: 60px;
  width: 80px;
}
