/* css for auth-register-basic */

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 653px;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 380px;
  text-align: center;
  height: 590px;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: left;
}
p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 15px;
  margin-right: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.checkbox-container {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox-container input {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.checkbox-container a {
  color: #696cff;
  text-decoration: none;
}

.sign-in-btn {
  width: 100%;
  padding: 10px;
  background-color: #696cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.already-account {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
.already-account a {
  color: #696cff;
  text-decoration: none;
}

/* css for auth-login-basic */
.container-login-basic {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 380px;
  text-align: center;
  height: 530px;
}
.already-account-login {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
.already-account-login a {
  color: #696cff;
  text-decoration: none;
}

/* css for auth-forgot-password */

.container-forgot {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 380px;
  text-align: center;
  height: 400px;
  margin-bottom: 100px;
}

.back {
  margin-top: 25px;
  font-size: 20px;
  text-align: center;
}
.back a {
  color: #696cff;
  text-decoration: none;
}
